.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;

}
.add form{
    gap:20px
}
.add-img-upload{
    width: 120px;
}
.add-product-name, .add-product-description{
    width: max(40%,280px);

}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
    border-color: #6d6d6d;
    border-radius: 15px;

}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select , .add-category-price input{
    max-width: 120px;
    padding: 10px;
    border-radius: 15px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    color: white;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    background-color:rgb(230, 109, 17) ;
}
.add-btn:hover{
    transform: scale(1.05);
    cursor: pointer;

}
.ProImage{
   width: 130px; 
   cursor: pointer;

}
@media(max-width:900px){
    .add-category-price select , .add-category-price input{
        max-width: 80px;
        padding: 7px;
        
}
.add-product-name input, .add-product-description textarea{
    padding: 7px;
    border-color: #6d6d6d;
    margin-right: 23px;
    border-radius: 15px;
}
.ProImage{
    width: 110px; 
    cursor: pointer;
 
 }

}